
/*
Typical Device Breakpoints
------------------------------
pequenas telas: 600px
celular: 768px
tablet: 992px
desktop: 1200px
grandes telas: 1200px para cima
*/
@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-image: linear-gradient( to top, rgb(70, 119, 70), rgb(150, 87, 163));
    }
    section#login{
        width: 80vw;
    }
    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }
    section#login > div#formulario {
        float: right;
        width: 70%;   
    }
}
@media screen and (min-width: 992px){
    section#login{
        width: 950px;
    }
    section#login > div#imagem {
        float: left;
        width: 50%;
        height: 100%;
    }
    section#login > div#formulario {
        float: right;
        width: 50%;   
    }
    
}
